/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f7f9;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #163528;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo h2 {
  font-size: 20px;
}

.logo p {
  font-size: 12px;
  opacity: 0.7;
}

/* MENU */
.menu {
  list-style: none;
  margin-top: 30px;
}

.menu li {
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.menu li.active,
.menu li:hover {
  background: #1dbf73;
  opacity: 1;
}

/* USER BOX */
.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1dbf73;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 40px;
}

/* HEADER */
.top-header h1 {
  font-size: 28px;
  color: #163528;
}

.top-header p {
  margin-top: 5px;
  color: gray;
}

/* CARD FORM */
.card-form {
  margin-top: 25px;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
}

/* TITULOS */
.card-form h2 {
  margin: 25px 0 15px;
  font-size: 18px;
  color: #163528;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 15px;
}

/* INPUTS */
.input-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  color: #163528;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #1dbf73;
  box-shadow: 0px 0px 6px rgba(29,191,115,0.4);
}

/* BUTTON */
.btn {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #1dbf73;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #159a5c;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .content {
    padding: 20px;
  }
}
